body{
    margin: 0%;
    overflow-y: scroll; 
}

body::-webkit-scrollbar { 
    width: 5px; 
} 

body::-webkit-scrollbar-track { 
    background: #f1f1f1; 
} 

body::-webkit-scrollbar-thumb { 
    background: #F4E079; 
} 

body::-webkit-scrollbar-thumb:hover { 
    background: #555; 
} 

body::-webkit-scrollbar-button { 
    display: none; 
} 

.heading{
    display: flex;
    height: 158px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 24px;
    padding-bottom: 52px;
}

.section-heading{
    text-align: center;
    font-family: "IBM Plex Serif";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a{
    text-decoration: none;
}

#header{
    height: 196px;

}

.nav-bar{
    padding: 54px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 282px;
}

.nav{
    display: flex;
    gap: 45px;
}

.nav-element{
    color: #000;
    font-family: "IBM Plex Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary {
    height: 50px;
    width: 156px;
    border-radius: 25px;
    background-color: #F4E079;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Quicksand";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#hero{
    height: 851px;
}

.hero-content{
    padding: 104px 65px 114.05px 81px;
    display: flex;
    flex: 700px 539px;
    gap: 53px;
    justify-content: space-between;
    align-items: center;
    height: 632.95px;
}

#hero-img{
    max-width: 539px;
}
#hero-img img{
    width: 100%;
    height: 632.95px;
    object-fit: cover;
}

#hero h1{
    color: #000;
    font-family: "Inria Serif";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headline{
    max-width: 700px;
}

#top-photographers{
    height: 917px;
    background-color: #000;
}

#photographer-main{
    padding: 0px 87.5px 75px 87.5px;
    height: 608px;
    display: flex;
    flex: 1fr 1fr 1fr;
    gap: 59.5px;
}

.photographer{
    width: 382px;
    height: 556px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: 100%;
}

.photographer>img{
    width: 100%;
    height: 419px;
    object-fit: cover;
}

.photo-name{
    color: #F4E079;
    font-family: "Inria Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding: 4px 0px;
}

.photo-order-no{
    color: #F4E079;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2.5px 0px;
    margin: 0px;
}

.p2, .p3{
    flex-direction: column-reverse;
    align-items: baseline;
}

.slider-img{
    width: 1234px;
    height: 705px;
    object-fit: scale-down;
    padding: 50px 0px;
    z-index: 1;
}

.carousel-item{
    background-color: #f4e07980
}

#footer{
    background-color: #000;
    height: 400px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line>div{
    margin-top: 50px;
    width: 25%;
    height: 2px;
    background-color: white;
}

.footer-nav{
    padding: 70px 83px;
    display: flex;
    justify-content: space-between;
}

#logo-black{
    width: 282px;
}

.logo-black{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-black>div{
    display: flex;
    width: 404px;
    height: 81px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.logo-black>div>p, .logo-black a{
    color: #FFF;
    font-family: "Quicksand";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quick-links>h4, .socials>h4{
    color: #FFF;
    font-family: "Quicksand";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

ul, ul a{
    color: #FFF;
    font-family: "Quicksand";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quick-links, .socials {
    width: 325px;
}

.btn-primary:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.532);
}

a:hover{
    text-decoration: underline;
}